body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: #3C3C3C;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #3C3C3C;
    padding: 30px 0;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: 500;
    font-size: 1.2em;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    transition: border-color 0.3s;
    font-size: 1.2em;
}

input[type="text"]:focus {
    border-color: #6C63FF;
}

button, input[type="submit"] {
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    background-color: #6C63FF;
    color: #FFFFFF;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover, input[type="submit"]:hover {
    background-color: #4a44ce;
}

h2 {
    color: #3C3C3C;
    margin-bottom: 20px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px 0;
    color: #3C3C3C;
    font-size: 1.2em;
}

div[id^='individual'] {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    label, input[type="text"], button, input[type="submit"], h2, li {
        font-size: 1em;
    }

    input[type="text"], button, input[type="submit"] {
        padding: 10px;
    }
}
