<!DOCTYPE html>
<html>
<head>
    <title>Help Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container help">
        <h1>Help</h1>
        <a href="/" class="back-button">Back to Home</a>
        <p>This website helps you find the <em>closest locations of interest</em> based on multiple individual addresses. Here's how to use it:</p>
        <ul>
            <li>Enter your <em>Google Maps API key</em>.</li>
            <li>Enter your <em>place of interest</em> (e.g., "fitness center").</li>
            <li>Enter the <em>address</em> of each individual.</li>
            <li>For each individual, you can choose whether or not to consider <em>routes with tolls</em>. Check the box if you want to consider routes with tolls.</li>
            <li>You can <em>add</em> and <em>remove individuals</em> using the "Add Individual" and "Remove Individual" buttons.</li>
            <li>When you're ready, click <em>"Submit"</em> to find the best locations.</li>
        </ul>
        <h2>Logging In</h2>
        <p>To view your past search history, you need to login. Click on the <em>"Login"</em> button on the homepage, and enter your credentials. If you do not have an account, you can register by clicking on the <em>"Register"</em> link and providing the required information.</p>
        <h2>Viewing Past Search History</h2>
        <p>After logging in, click on the <em>"History"</em> button in the navigation bar to see a list of your past searches. You can click on any search in the list to see the details of that search.</p>
    </div>
</body>
</html>
