<!DOCTYPE html>
<html>
<head>
    <title>Search History</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Your Search History</h1>
        {% if search_history %}
        <div>
            {% for search in search_history %}
            <div class="card">
                <h3>Search for: {{ search['central_location'] }}</h3>
                <p>Avoid Tolls: {{ search['avoid_tolls'] }}</p>
                <p>Avoid Highways: {{ search['avoid_highways'] }}</p>
                <h3>Top Locations:</h3>
                {% for location, score, times in search['best_locations'] %}
                <div class="card">
                    <h3>{{ location }}</h3>
                    <p class="score">Score: {{ score }}</p>
                    {% for individual, time in times.items() %}
                    <p>{{ individual }}: {{ time }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No past searches to display.</p>
        {% endif %}
    </div>
    <a href="/">Back to Home</a>
</body>
</html>
