<!DOCTYPE html>
<html>
<head>
    <title>Closest Location Search</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Find Closest Locations of Interest</h1>
        <form method="POST" id="myForm">
            <div class="checkbox-wrapper">
                <label for="toll">Avoid Tolls:</label>
                <input type="checkbox" id="toll" name="toll">
            </div>
            
            <div class="checkbox-wrapper">
                <label for="toll">Avoid Highways:</label>
                <input type="checkbox" id="toll" name="toll">
            </div>   

            
            <label for="apikey">API Key:</label>
            <input type="text" id="apikey" name="apikey" required>

            <label for="place">Place of Interest:</label>
            <input type="text" id="place" name="place" required>

            <div id="individual1">
                <label for="individual1">Individual 1 Address:</label>
                <input type="text" id="individual1" name="individual" required>
            </div>

            <div id="individual2">
                <label for="individual2">Individual 2 Address:</label>
                <input type="text" id="individual2" name="individual" required>
            </div>

                     

            <div class="button-wrapper">
                <button type="button" onclick="addInputField()">Add Individual</button>
                <button type="button" onclick="removeInputField()">Remove Individual</button>
            </div>

            <div class="submit-help-wrapper">
                <input type="submit" value="Submit">
                <a href="/help" class="help-button">Help</a>
            </div>

            <div class="auth-buttons">
                {% if user %}
                    <a href="/history" class="history-button">History</a>
                    <a href="/logout" class="signout-button">Sign Out</a>
                {% else %}
                    <a href="/login" class="help-button">Sign In</a>
                    <a href="/register" class="signin-button">Register</a>
                {% endif %}
            </div>

        </form>

        {% if best_locations %}
        <div>
            <h2>Top Locations:</h2>
            {% for location, score, times in best_locations %}
            <div class="card">
                <h3>{{ location }}</h3>
                <p class="score">Score: {{ score }}</p>
                {% for individual, time in times.items() %}
                <p>{{ individual }}: {{ time }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <script>
        let individualCount = 3;

        function addInputField() {
            const div = document.createElement('div');
            div.id = `individual${individualCount}`;

            const label = document.createElement('label');
            label.setAttribute('for', `individual${individualCount}`);
            label.innerText = `Individual ${individualCount} Address:`;

            const input = document.createElement('input');
            input.setAttribute('type', 'text');
            input.setAttribute('id', `individual${individualCount}`);
            input.setAttribute('name', 'individual');

            div.appendChild(label);
            div.appendChild(input);

            document.getElementById('myForm').insertBefore(div, document.querySelector('.button-wrapper'));

            individualCount++;
        }

        function removeInputField() {
            if (individualCount > 3) {
                const div = document.getElementById(`individual${individualCount - 1}`);
                div.parentNode.removeChild(div);
                individualCount--;
            }
        }
    </script>
</body>
</html>
